# Installation

**Setting up the conda env:**

```
conda create -n sql python
conda activate sql
conda install ipython-sql sqlalchemy psycopg2 notebook pandas -c conda-forge
```

**Sample dataset:**
- [cities.csv](https://github.com/giswqs/postgis/blob/master/data/cities.csv)

## Using ipython-sql

In [ ]:
%load_ext sql

In [ ]:
import os

In [ ]:
host = "localhost"
database = "sdb"
user = os.getenv('SQL_USER')
password = os.getenv('SQL_PASSWORD')

In [ ]:
connection_string = f"postgresql://{user}:{password}@{host}/{database}"

In [ ]:
%sql $connection_string

In [ ]:
%%sql 

SELECT * from cities LIMIT 10

In [ ]:
%%sql 

SELECT * from cities

## Using sqlalchemy

In [ ]:
from sqlalchemy import create_engine

In [ ]:
engine = create_engine(connection_string)

In [ ]:
from sqlalchemy import inspect

In [ ]:
insp = inspect(engine)
insp.get_table_names()

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_sql('SELECT * from cities LIMIT 10', engine)

In [ ]:
df