# Introduction to PostGIS

**Setting up the conda env:**

```
conda create -n sql python
conda activate sql
conda install ipython-sql sqlalchemy psycopg2 notebook pandas -c conda-forge
```

**Sample dataset:**
- [nyc_data.zip](https://github.com/giswqs/postgis/raw/master/data/nyc_data.zip) (Watch this [video](https://youtu.be/fROzLrjNDrs) to load data into PostGIS)

**References**:
- [Introduction to PostGIS](https://postgis.net/workshops/postgis-intro)
- [Using SQL with Geodatabases](https://desktop.arcgis.com/en/arcmap/latest/manage-data/using-sql-with-gdbs/sql-and-enterprise-geodatabases.htm)

## Connecting to the database

In [ ]:
%load_ext sql

In [ ]:
import os

In [ ]:
host = "localhost"
database = "nyc"
user = os.getenv('SQL_USER')
password = os.getenv('SQL_PASSWORD')

In [ ]:
connection_string = f"postgresql://{user}:{password}@{host}/{database}"

In [ ]:
%sql $connection_string

In [ ]:
%%sql 

SELECT * FROM nyc_neighborhoods WHERE FALSE

In [ ]:
%%sql 

SELECT id, boroname, name from nyc_neighborhoods LIMIT 10

## Simple SQL

In [ ]:
%%sql

SELECT postgis_full_version()

### NYC Neighborhoods

![](https://i.imgur.com/eycL547.png)

What are the names of all the neighborhoods in New York City?

In [ ]:
%%sql

SELECT name FROM nyc_neighborhoods

What are the names of all the neighborhoods in Brooklyn?

In [ ]:
%%sql

SELECT name
FROM nyc_neighborhoods
WHERE boroname = 'Brooklyn'

What is the number of letters in the names of all the neighborhoods in Brooklyn?

In [ ]:
%%sql

SELECT char_length(name)
FROM nyc_neighborhoods
WHERE boroname = 'Brooklyn'

What is the average number of letters and standard deviation of number of letters in the names of all the neighborhoods in Brooklyn?

In [ ]:
%%sql

SELECT avg(char_length(name)), stddev(char_length(name))
FROM nyc_neighborhoods
WHERE boroname = 'Brooklyn'

What is the average number of letters in the names of all the neighborhoods in New York City, reported by borough?

In [ ]:
%%sql

SELECT boroname, avg(char_length(name)), stddev(char_length(name))
FROM nyc_neighborhoods
GROUP BY boroname

### NYC Census Blocks

![](https://i.imgur.com/tHyMJMm.png)

In [ ]:
%%sql

SELECT * FROM nyc_census_blocks WHERE FALSE

What is the population of the City of New York?

In [ ]:
%%sql 

SELECT Sum(popn_total) AS population
FROM nyc_census_blocks

What is the population of the Bronx?

In [ ]:
%%sql 

SELECT SUM(popn_total) AS population
FROM nyc_census_blocks
WHERE boroname = 'The Bronx'

For each borough, what percentage of the population is white?

In [ ]:
%%sql

SELECT
boroname,
100 * SUM(popn_white)/SUM(popn_total) AS white_pct
FROM nyc_census_blocks
GROUP BY boroname